<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ppshop.mapper.TbItemParamMapper" >
  <resultMap id="BaseResultMap" type="com.ppshop.pojo.TbItemParam" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_cat_id" property="itemCatId" jdbcType="BIGINT" />
    <result column="param_data" property="paramData" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="getItemParamList"  resultType="com.ppshop.pojo.TbItemParam">
       select t.id as id,t.item_cat_id as itemCatId,t.param_data as paramData,t.created as created,
              t.updated as updated,c.name as itemCatName
       from tb_item_param t 
       left join tb_item_cat c on c.id = t.item_cat_id
  </select>
  
  <select id="getItemParamByCid"  resultMap="BaseResultMap">
       select * from tb_item_param where item_cat_id = #{cid}
  </select>
  
  <insert id="insertItemParam">
        insert into tb_item_param (id,item_cat_id,param_data,created,updated) values 
        (#{id},#{itemCatId},#{paramData},#{created},#{updated});
  </insert>
  
</mapper>